.table {
  // position: relative;
}

.table__tooltip {
  position: absolute;
  z-index: 11;
  top: 0px;
  left: 0px;
  display: none;
  padding: 5px;
  font-family: 'Roboto Mono';
  text-transform: none;
  font-weight: 400;
  line-height: 20px;
  font-size: 20px;
  background-color: $color-main;

  border-radius: 3px;
  box-shadow: 0 0 3px #000;
}

.table__surface {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  background: yellowgreen;

  apple {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    background-color: red;
  }

  plate {
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    background-color: aqua;
  }

  plate * {
    position: absolute;
    left: 10px;
    top: 10px;
    transform: scale(0.5);
  }

  & .selected-element {
    box-shadow: 0 0 10px #000;
  }
}
