.table {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding: 20px;
  background: yellowgreen;
  margin-bottom: 20px;
}

apple {
  display: block;
  width: 50px;
  height: 50px;
  background-color: red;
  position: relative;
}

plate {
  display: block;
  width: 100px;
  height: 100px;
  background-color: aqua;
  position: relative;
}

plate * {
  position: absolute;
  left: 10px;
  top: 10px;
  transform: scale(0.5);
}

.table .selected-element {
  box-shadow: 0 0 10px #000;
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.table .win-condition-animation {
  animation: pulsing 1s infinite;
}
