.code-viewer {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: darkslategray;
  font-size: 20px;
  font-family: 'Roboto Mono';
  cursor: default;
  user-select: none;

  @include media-tablet {
    font-size: 14px;
  }
}

.code-viewer__line-numbers {
  width: 40px;
  padding: 7px;
  text-align: right;
  color: lightblue;
  background-color: darkslateblue;
  border-right: 1px solid darkblue;
}

.code-viewer__code {
  padding: 7px;
  width: 100%;

  apple,
  plate {
    display: block;
    padding-left: 25px;
  }

  & .select-line,
  & .select-line span {
    color: red;
  }
}
