.code-viewer {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: $color-main;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  font-family: 'Roboto Mono';
  text-transform: none;
  cursor: default;
  user-select: none;

  @include media-tablet {
    font-size: 14px;
    line-height: 20px;
  }
}

.code-viewer__line-numbers {
  width: 40px;
  padding: 7px;
  text-align: right;
  background-color: $color-selection;
  @extend %shadow-dark;
}

.code-viewer__code {
  width: 100%;
  padding: 7px;
  white-space: nowrap;

  & :not(span) {
    display: block;
    padding-left: 25px;
  }

  & .select-line,
  & .select-line span {
    color: red;
  }
}
