.code-viewer {
  width: 750px;
  height: 250px;
  background: darkslategray;
  color: blueviolet;
  font-size: 20px;
  font-family: 'Roboto Mono';
  cursor: default;
}

.code-viewer div {
  padding-left: 25px;
}

.code-viewer .select-line,
.code-viewer .select-line span {
  color: red;
}
