.aside {
  position: fixed;
  right: 0;
  width: 400px;
  height: 100%;
  padding: 5px;
  background-color: brown;
}

.aside__title {
  padding: 10px;
  text-align: center;
}

.aside__level-list {
  padding: 10px;
  list-style-type: none;
}

.aside__level-item {
  padding: 10px;
  cursor: pointer;
}

.aside__level-item:hover {
  background-color: lightcoral;
}

.aside__level-item.selected {
  background-color: lightcoral;
}
