.level-list {
  padding: 10px 0;
  list-style-type: none;
}

.level-list__item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;

  &:hover,
  &.level-selected {
    background-color: lightcoral;
  }
}

.level-list__item-checkmark {
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url('./../../../../assets/images/gray-checkmark.png');

  &.done {
    background-image: url('./../../../../assets/images/green-checkmark.png');
  }

  &.done-with-hint {
    background-image: url('./../../../../assets/images/yellow-checkmark.png');
  }
}

.level-list__reset-button {
  width: 125px;
  margin: 0 auto;
  padding: 10px;
  color: crimson;
  text-align: center;
  background-color: aqua;
  cursor: pointer;
}
