// colors
$color-main: #4c5361;
$color-selection: #787e8b;
$color-background: #2e3441;
$color-warning: #e7e158;
$color-light-gray: #eaeaf3;
$color-dark-text: #130f26;

// widths

$width-hide-aside: 1000px;
$width-tablet: 768px;
$width-aside: 375px;
