.game__code {
  width: 750px;
  height: 250px;
  background: darkslategray;
  color: blueviolet;
  font-size: 20px;
  font-family: 'Roboto Mono';
  cursor: default;
}

.game__code div {
  padding-left: 25px;
}

.select-line,
.select-line span {
  color: red;
}
