.level-list {
  padding: 10px;
  list-style-type: none;
}

.level-list__item {
  padding: 10px;
  cursor: pointer;
}

.level-list__item:hover,
.level-list__item.level-selected {
  background-color: lightcoral;
}
